{% extends 'layout/base.html.twig' %}
{% block main %}
   <h1>Общая статистика</h1>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Количество проектов</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ count_project }}</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Количество сотрудников</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ count_peaple }}</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Средний возраст</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ statistic_age_midle }}</h1>
                    </div>
                </div>
            </div>
        </div>



{% endblock %}
{% block  leftPanelColor %}
  <script>
      var elem = document.getElementById('AllStat');
      elem.style.color = 'red'; 
  </script>
{% endblock %}
